*,
*::before,
*::after {
box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.body__background{
    background-image: url(../media/bg.gif);
    z-index: -1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    .navbar{
        .navbar-brand-img{
            height: 12vh;
        }
        .navbar-nav{
            font-family: 'Caveat Brush', cursive;
            font-weight: bold;
            font-size: 1.4rem;
            letter-spacing: 1.4px;
            a{
                color: beige;
                &:hover{
                    color: #ee2b4c;
                }
            }
        }
    }
}
.app{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.home{
    flex-grow: 1;
    min-height: 0;
    overflow: auto;
    .home__videos--flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .container--title{
            img{
                height: 12vh;
            }
            padding-bottom: 4vh;
        }
        .container--iframes iframe{
            width: 8vw;
            height: 49vh;
            margin: 15px;
            transition: width .5s, transform .5s, filter 1s ease-in-out;
            filter: grayscale(100%);
            z-index: 1;
        }
        & iframe:hover{
            width: 30vw;
            transform: scale(1.2);
            filter: grayscale(0);
            z-index: 2;
        }
        .container--bg{
            box-shadow: -16px -10px 0px 0px #e23652;
        }
    }
}
footer{
    background: rgba(66, 55, 58, 0.87);
    width: 100%;
    padding-top: 10px;
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0 8px 0;
        padding: 0;
        li{
            margin: 0 7px;
        }
        a{
            text-decoration: none;
            i{
                font-size: 1.6rem;
                color: rgb(226, 72, 105);
            }
        }
    }
}

/* Mq tablet */
@media (min-width: 576px) and (max-width: 992px){
    .home{
        .home__videos--flex{
            .container--iframes iframe{
                transition: none;
                filter: none;
            }
            & iframe:hover{
                transform: none;
                transition: none;
            }
        }
    }
}
/* Mq mobile */
@media (max-width: 576px) {
    .home{
        .home__videos--flex{
            .container--iframes{
                display: grid;
                grid-template-columns: auto auto;
                gap: 10vw;
                & iframe{
                    width: 34vw;
                    height: 27vh;
                    margin: 8px;
                    flex-wrap: wrap;
                    transition: none;
                    filter: none;
                }
                & iframe:hover{
                    transform: none;
                    transition: none;
                }
            }
            .container--title{
                img{
                    height: 8vh;
                }
            }
        }
    }
}