* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}
@import 'videos';
@import 'discography';
@import 'members';
@import 'contact';
@import 'mq';


.body__bg{
    background-image: url(../media/bg.gif);
    z-index: -1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    .tomboy{
        .tomboy__logo {
            width: 33vw;
            transform: rotate(-14deg);
        }
        padding-top: 43px;
    }
    .index__iframe{
        display: flex;
        justify-content: center;
        iframe{
            box-shadow: 0px 0px 200px -90px #ffffff,0px 5px 90px 0px #e23652;
            width: 490px;
            height: 380px;
        }
    }
    .enter{
        height: auto;
        display: flex;
        justify-content: center;
        padding-top: 7vh;
        button{
            background-color: beige;
            text-align: center;
            font-size: 1.2rem;
            letter-spacing:0.2rem;
            border-radius: 10px;
            padding: 1vh 1vw;
            border: none;
            cursor: pointer;
            font-family: 'Teko', sans-serif;
            font-weight: 700;
            &:hover{
                background-color: #e23652;
            }
            &:active{
                background-color: #e23652;
            }
        }
    }
}