* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none
}
@import 'vars';
@import 'videos';
@import 'discography';
@import 'members';


.body__bg{
    background-image: url(../media/bg.gif);
    z-index: -1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.tomboy{
    .tomboy__logo {
        width: 40vw;
        transform: rotate(-14deg);
    }
    padding-top: 43px;
}
main{
    .body__cross{
        display: inline-block;
        justify-content:space-around;
        .body__cross--1{
            @include cross;
            left: 87vw;
            top: 68vh;
        }
        .body__cross--2{
            @include cross;
            top: 82vh;
            right: 89vw
        }
        .body__cross--3{
            @include cross;
            right: 20vw;
            bottom: 81vh;
        }
        .body__cross--4{
            @include cross;
            left: 95vw;
            top: 21vh;
        }
    }
    .play{
        .bi{
            color: #d2465a;
            width: 60px;
            height: 60px;
            box-shadow:0px 5px 90px 20px #e23652;
            border-radius: 100px
            ;
        }
        display: flex;
        justify-content: center;
        margin-top: 9vh;
        }
    .enter{
        h1{
            text-align: center;
            font-family: 'Ceviche One', cursive;
            color: #ffe2e2;
            opacity: 90%;
        }
        a{
            text-decoration: none;
        }
        margin-top: -100px;
        margin-right: 15px;
    }
    .enter__bg{
        display: flex;
        justify-content: center;
        margin-top: 190px;
        .enter__bg--png{
            height: 150px;
        }
    }
}
